
* {
    margin: 0;
    padding: 0;
}

/* TODO: bundle font files */
/* Roboto is Apache v2 licensed, see https://fonts.google.com/specimen/Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

div, textarea, input, button {
    font-size: medium;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.magic-capture {
    position: fixed;
    top: -10px;
    left: -10px;
    width: 1px;
    height: 1px;
}

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns:
        800px minmax(250px, 1fr);
    grid-template-rows: 100%;
}

@media screen and (max-width: 1050px) {
    .app {
        grid-template-columns: 1fr;
    }

    .side-panel {
        display: none;
    }
}
    
.journal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    max-width: 800px;
    position: relative;
    /* left: calc(max(50% - 400px - 50px, 0px)); */
}

.journal .header {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 100px 1fr auto;
}

.journal .header .title {
    font-size: 1.4em;
    padding-left: 15px;
}

.journal .header .select-button {
    border: 1px solid #ccc;
    margin: -1px;
    padding: 5px;
    background-color: #eee;
    font-style: italic;
    cursor: pointer;
}

.journal .header .select-button.selected {
    background-color: rgb(180, 200, 230);
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.journal .header .select-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.journal .notes {
    max-height: 100%;
    display: grid;
    overflow: hidden;
}

.note-grid-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
    overflow: hidden;
}

.note-grid-scroll {
    overflow-y: scroll;
}

.place-at-end {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.note-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.group-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}

.group-wrapper .date-wrapper {
    font-weight: bold;
    text-align: right;
    color: #666;
    padding: 5px;
    border-right: 1px solid #ccc;
}

.group-wrapper .date {
    position: sticky;
    top: 15px;
}

.group-wrapper .group {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    height: fit-content;
}

.note-row {
    height: fit-content;
    position: relative;
    display: flex;
    flex-flow: row;
    border: 1px solid #ccc;
    background-color: #eee;
}

.note {
    display: flex;
    flex-grow: 1;
    height: fit-content;
    padding: 5px;
}

.task-button-place {
    min-width: 17px;
    width: 17px;
}

.task-button {
    min-width: 16px;
    width: 16px;
    line-height: 16px;
    border-left: 1px solid #666;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 0.6em;
    text-align: center;
    cursor: pointer;
}

.task-button.todo {
    /* nice light blue */
    background-color: rgb(130, 200, 255);
}

.task-button.done {
    /* uninteresting gray */
    background-color: #aaa;
}

.note .note-content {
    display: flex;
    flex-grow: 1;
}

.allow-select * {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.note textarea {
    overflow-y: hidden;
    padding-left: 17px;
    display: block;
    width: 100%;
    border: none;
    background-color: #eee;
    outline-style: none;
    outline-width: 0;
    white-space: pre-wrap;
    resize: none;
}

.note-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.note-actions .note-action {
    background-color: #bbb;
    padding: 2px;
    font-style: italic;
    font-size: 0.6em;
    cursor: pointer;
}

.note-actions .note-action:not(:last-child) {
    border-right: 1px solid #ccc;
}

.note-actions .note-action:hover {
    background-color: #aaa;
}

.note-subjects {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    z-index: 2;
}

.subject-card {
    background-color: #bbd;
    width: fit-content;
    height: fit-content;
    padding: 0px 4px;
    font-size: small;
    border-radius: 10%;
    cursor: pointer;
}

.add-note {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px 5px 5px calc(17px + 5px);
    white-space: pre-wrap;
    text-align: left;
    font-style: italic;
    cursor: pointer;
}

.add-note:hover {
    background-color: #ddd;
}

.note-dropdown {
    position: fixed;
    z-index: 3;
    border: 1px solid #ccc;
    background-color: #ddd;
    display: grid;
    grid-template-columns: 1fr;
    outline: none;
}

.note-dropdown .note-dropdown-item {
    max-width: 200px;
    border: 1px solid #ccc;
    background-color: #bbd;
    padding: 5px;
    cursor: pointer;
}

.note-dropdown .note-dropdown-item:not(:last-child) {
    border-bottom: 1px solid #666;
}

.note-dropdown .note-dropdown-item:hover,
.note-dropdown .note-dropdown-item:focus {
    background-color: #ccd;
}

.note-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.confirm-dialog-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.confirm-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #ddd;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.confirm-dialog-title {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    font-weight: bold;
}

.confirm-dialog-message {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.confirm-dialog-button {
    grid-row: 3;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
}

.confirm-dialog-button:hover {
    background-color: #ddd;
}

.markdown ul {
    margin-left: 20px;
    list-style-type: disc;
}

.markdown ol {
    margin-left: 25px;
    list-style-type: decimal;
}

.markdown code {
    font-family: monospace;
    font-size: 0.9em;
}

.markdown pre code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    font-size: medium;
}

.search {
    height: 100%;
    overflow: hidden;
    margin-top: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;
}

.search .search-input {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px;
    font-style: italic;
    resize: none;
    outline: none;
}